
@media  screen and (min-width:700px) {
    
#ftr{
    background-color: rgba(121, 118, 118, 0.475);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0 0;
    margin-top: 10px;
    position:sticky;
    bottom: 0;
}

a:active{
    color:rgb(88, 88, 88);
}
}

@media  screen and (max-width:700px){
    #ftr{
        background-color: rgba(63, 63, 63, 0.901);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px 3px 0 0;
        position:sticky;
        bottom: 0;
    }

    a:active{
        color:rgb(88, 88, 88);
    }
}